.container-fluid {
    /* display: flex; */
    align-items: center;
    justify-content: center 
}
#cardsDiv{
    margin-left: 75px;
    margin-right: 75px;

    padding: 100px;
    /* border: solid red 1px; */
}

#cardsDiv .card{
    margin: 5px;
}