/* .jumbotron { 
    background-image: url("../assets/images/giphy.gif");
    background-size: cover;
    height: 100%; 
    background-repeat: no-repeat;
    font-family: 'Cabin Sketch', cursive;
    color: white;
}

#displayContainer, #jumboElements{
    float: left;
} */

.jumbotron {
    background: none;
    color: white;
    font-family: 'Cabin Sketch', cursive;
}

#displayContainer, #jumboElements {
    float: left;
}